<div class="wrapper">
  <div class="title">
    <div>Place Autocomplete Demo</div>
    <div class="links">
      <div>GitHub</div>
      <div>NPM</div>
    </div>
  </div>
  <div class="container">
    <div class="description">This is a demo application to demonstrate the ng-autocomplete angular component</div>
    <ng-autocomplete [addressType]="addressType" [country]="country"
    [style]="{'width':'600px','font-size':'1.6em','padding':'.25em .5em','border-radius':'5px'}" 
    (onAddressChange)="setAddress($event)"></ng-autocomplete>
    <div class="map">
      Map goes here!
    </div>
  </div>
</div>