.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .title{
        display: flex;
        font-size: 2em;
        padding: .5em;
        justify-content: space-between;
        color: #fff;
        background-color: #24292e;

        .links{
            display: flex;
            justify-content: center;
            align-items: center;
            color: lightgray;

            >div{
                margin-left: .5em;
                cursor: pointer;
                &:hover{
                    color: lightblue;
                }
            }
        }
    }

    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        .description{
            width: 100%;
            text-align: center;
            margin-bottom: 3em;
            margin-top: 3em;
            font-size: 1.5em;
            color: #24292e;
        }

        .map{
            margin: 2em;
            width:98%;
            height: 100%;
            
            // margin-bottom: 2em;
            border: 1px solid #24292e;
            border-radius: 5px;
        }
    }
}